@model N01511170_Assignment3.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Showing details about a teacher</h2>
<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
        <button><a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a></button>
    </nav>
    <h2><i>@Model.TeacherFname @Model.TeacherLname</i></h2>
    <p><b>TeacherId:</b> @Model.TeacherId</p>
    <p><b>HireDate:</b> @Model.TeacherHireDate</p>
    <p><b>EmployeeNumber:</b> @Model.TeacherNumber</p>
    <p><b>TeacherSalary:</b> @Model.TeacherSalary</p>
</div>
